/* ---------------------------------------------------------------- */
/*---------------Project body---------------*/
body {
	font-family: Arial, sans-serif;
	background-color: #000000;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	margin: 0;
}

/*--------------------------MOBILE WORKFLOW---------------------*/
/*--------------profile card container -------------------*/
article[data-testid="test-profile-card"] {
	font-size: 0.7rem;
	height: 70%;
	width: 40%;
	/* background-color: #ede2e2; */
	background-color: rgba(61, 58, 58, 0.8);
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*------------- profile image -------------*/
#profileHeader figure {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#profileHeader img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	object-fit: cover;
}

/* profile name */

/* profile bio */
