/* ---------------------------------------------------------------- */
/*--------------- Project body general style ---------------*/
html {
	width: 100dvw;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
}
body {
	background-color: #605a5a;
	background-image: url("./assets/states.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* height: 100%; */
	width: 100%;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

/*--------------------------MOBILE WORKFLOW---------------------*/
/*--------------profile card container -------------------*/
article[data-testid="test-profile-card"] {
	/* height: 100%; */
	width: 100%;
	padding: 1rem;
	background-color: rgba(61, 58, 58, 0.6);
	color: rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #020202;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*-------------  PROFILE HEADER  -------------*/
#profileHeader {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
	/* background-color: orange; */
}
#profileHeader figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0.5rem;
}
/*------------- profile header image -------------*/
#profileHeader img {
	border-radius: 50%;
	width: 300px;
	height: 300px;
	object-fit: cover;
}
/* -------------imageUploadMethods------------ */
.imageUploadMethods {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.imageUploadMethods label {
	margin-bottom: 0.5rem;
}
.imageUploadMethods input {
	margin-bottom: 1rem;
}
#avatarUpload::file-selector-button {
	background-color: rgba(61, 58, 58, 0.6);
	color: white;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 0.9rem;
	transition: background 0.3s;
}
#avatarUpload::file-selector-button:hover {
	background-color: #45a049;
	color: black;
}
#avatarUpload {
	color: #a8a8a8;
}
#avatarUrl::placeholder {
	background-color: rgb(61, 58, 58);
	color: #a8a8a8;
}
#avatarUrl {
	color: #ccc;
	color: #ccc;
	padding: 0.5rem 0.75rem; /* top/bottom left/right */
	/* margin: 0.5rem 0;  */
	background-color: rgb(61, 58, 58);
	border: 1px solid #777;
	border-radius: 6px;
	outline: none;
}
/*--------------profile name --------------*/
#profileHeader h2 {
	display: flex;
	justify-content: center;
	margin: 0.5rem 0;
	font-size: 2rem;
	font-weight: 600;
}
/*-------------- current time --------------*/
#profileHeader span[data-testid="test-user-time-container"] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* margin: 0.3rem 0; */
	margin-bottom: 1rem;
}
#profileHeader p[data-testid="test-user-time"] {
	/* display: flex;
	justify-content: center; */
	/* margin: 0.3rem 0; */
	margin-bottom: 1rem;
	font-size: 1.2rem;
	color: #ccc;
}
/*--------------  PROFILE DETAILS  --------------*/
#profileDetails p[data-testid="test-user-bio"] {
	/* text-align: center; */
	font-size: 1.3rem;
	margin-bottom: 1rem;
}
/* ------------------ social links --------------- */
#profileDetails nav[data-testid="test-user-social-links"] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 1rem;
	/* background-color: red; */
}
#profileDetails nav[data-testid="test-user-social-links"] ul {
	list-style: none;
}
#profileDetails nav[data-testid="test-user-social-links"] li {
	margin: 0 0.5rem;
}
#profileDetails nav[data-testid="test-user-social-links"] a {
	color: #ccc;
	text-decoration: none;
}
#profileDetails nav[data-testid="test-user-social-links"] a:hover {
	text-decoration: underline;
}
