/* ---------------------------------------------------------------- */
/*--------------- Project body general style ---------------*/
html {
	height: 100dvh;
	width: 100dvw;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
}
body {
	background-color: #605a5a;
	background-image: url("./assets/states.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

/*--------------------------MOBILE WORKFLOW---------------------*/
/*--------------profile card container -------------------*/
article[data-testid="test-profile-card"] {
	height: 100%;
	width: 100%;
	padding: 1rem;
	background-color: rgba(61, 58, 58, 0.2);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid #020202;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*------------- profile header -------------*/
#profileHeader {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1rem 0;
	/* background-color: orange; */
}
#profileHeader figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 0.5rem;
}
/*------------- profile header image -------------*/
#profileHeader img {
	border-radius: 50%;
	width: 230px;
	height: 230px;
	object-fit: cover;
}
/* -------------imageUploadMethods------------ */
.imageUploadMethods {
	display: flex;
	flex-direction: column;
	align-items: start;
}
/*--------------profile name --------------*/
#profileHeader h2 {
	display: flex;
	justify-content: center;
	margin: 0.5rem 0;
	font-size: 1.8rem;
	font-weight: 600;
}
/*-------------- current time --------------*/
#profileHeader p[data-testid="test-user-time"] {
	display: flex;
	justify-content: center;
	/* margin: 0.3rem 0; */
	font-size: 1.rem;
	color: #ccc;
}

/* profile bio */
