/* ---------------------------------------------------------------- */
/*---------------Project body---------------*/
body {
	font-family: Arial, sans-serif;
	background-color: #605a5a;
	background-image: url("./assets/states.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	margin: 0;
}

/*--------------------------MOBILE WORKFLOW---------------------*/
/*--------------profile card container -------------------*/
article[data-testid="test-profile-card"] {
	font-size: 0.7rem;
	height: 100%;
	width: 100%;
	padding: 1rem;
	background-color: rgba(61, 58, 58, 0.2);
	color: white;
	display: flex;
	flex-direction: column;
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*------------- profile header -------------*/
#profileHeader {
	width: 100%;
	margin: 1rem;
	padding: 1rem;
	background-color: orange;
}
#profileHeader figure {
}
/*------------- profile header image -------------*/
#profileHeader img {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	object-fit: cover;
}
/* -------------imageUploadMethods------------ */
.imageUploadMethods {
	display: flex;
	flex-direction: column;
	align-items: start;
}

/* profile name */

/* profile bio */
