/* ---------------------------------------------------------------- */
/*--------------- Project general style ---------------*/
html {
	width: 100dvw;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
}
body {
	background-color: #605a5a;
	background-image: url("/profileCard/assets/states.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
}
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	outline: none;
}

/*-------------- navigation links --------------*/
nav[data-testid="test-navigation-links"] {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 0 1rem;
	margin-bottom: 2rem;
}
nav[data-testid="test-navigation-links"] ul {
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	font-size: 1.2rem;
}
nav[data-testid="test-navigation-links"] a {
	color: #ccc;
	text-decoration: none;
	border: 1px solid #8c8c8c;
	padding: 0.5rem 1rem;
	border-radius: 6px;
}
nav[data-testid="test-navigation-links"] a:hover {
	color: #fff;
	background-color: #2aadf365;
}
/* ----------------------- general heading title ----------------------- */
h1,
h2 {
	color: #fff;
	text-align: center;
	margin-bottom: 1rem;
}
h3 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	font-size: 1.3rem;
	color: #2aacf3;
}

/* ---------------------------------- MEDIA QUERY ------------------------------- */
/* ------------------- tablet ------------------- */
@media (min-width: 768px) {
	nav[data-testid="test-navigation-links"] {
		margin-bottom: 4rem;
	}
	nav[data-testid="test-navigation-links"] ul {
		font-size: 1.4rem;
	}
}
